.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  color: white;
  font-family: "Play", sans-serif;
  height: 100px;
}

.tmdb_logo {
  object-fit: contain;
  width: 8vw;
  transition: all 450ms;
}
.name {
  font-size: 1.02rem;
  font-weight: bolder;
}

.buttons a {
  margin-left: 20px;
}

.footer_icon {
  color: lightgrey;
  transition: transform 450ms !important;
}

.footer_icon:hover {
  transform: scale(1.08) !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .tmdb_logo {
    width: 26vw;
  }
  .buttons a {
    margin-left: 20px;
  }
}
